<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lataffa Asad</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/buttons.css">
    <link rel="stylesheet" href="../css/products.css">
</head>
<body>
 <topbar>
        <img src="../img/logo caja.png" alt="logo">
        <input button type="button" value="Inicio" onclick="window.location.href='../main-containt/index.html'"> 
        <input button type="button" value="Productos" onclick="window.location.href='../main-containt/catalogo.html'">
        <input button type="button" value="Contacto" onclick="window.location.href='../main-containt/contacto.html'">
        <input button type="button" value="Carrito" onclick="window.location.href='../main-containt/carrito.html'">
    </topbar>
</body>
    <product-detail>
        <h1>Lataffa Asad</h1>
        <img src="../img/perfume2.jpg" alt="lataffa Asad">
        <p>Precio: $65000.00</p>
        <p>Descripción: Un aroma exótico y envolvente que combina notas especiadas, ambarinas y maderadas para una experiencia olfativa cautivadora.</p>
        <input type="button" value="Agregar al carrito" onclick="window.location.href='../main-containt/carrito.html'">
    </product-detail>
</html>
